body {
    margin: 0;
    padding-top: 600px;
    text-align: left;
}

#image {
    width: 170px;
    border-radius: 50%;
    height:150px;
}

#hobby {
    position: absolute;
    overflow: hidden;
    height: 700px;
    color: red;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    background: linear-gradient(#0e909c 0%, #bf6643 100%);
    display: table;
    height: 100%;
    width: 100%;
    z-index: 9;
}
#name{
  font-family: 'Sansita Swashed', cursive;  
}
.tab{
    list-style: none;
    top:10px;
    right:30px;
    position: absolute;
    z-index: 10;
    cursor:wait;
}
.GT{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:darkred;
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
}
.GT:hover{
    font-size: 30px;
    background-color: floralwhite;
    font-family: 'Sansita Swashed', cursive;
}